# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
js2-big-trip-e2e

# Собранные файлы (допишите самостоятельно)
bundle.js
build/
